In [0]:
import tensorflow as tf

In [0]:
import pandas as pd

In [31]:
data = pd.read_csv('Churn.csv')
data.head(10)

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0
5          6    15574012       Chu  ...               0       149756.71      1
6          7    15592531  Bartlett  ...               1        10062.80      0
7          8    15656148    Obinna  ...               0       119346.88      1
8          9    15792365        He  ...               1        74940.50      0
9         10    15592389        H?  ...               1        71725.73      0

[10 rows x 14 columns]

In [32]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
RowNumber          10000 non-null int64
CustomerId         10000 non-null int64
Surname            10000 non-null object
CreditScore        10000 non-null int64
Geography          10000 non-null object
Gender             10000 non-null object
Age                10000 non-null int64
Tenure             10000 non-null int64
Balance            10000 non-null float64
NumOfProducts      10000 non-null int64
HasCrCard          10000 non-null int64
IsActiveMember     10000 non-null int64
EstimatedSalary    10000 non-null float64
Exited             10000 non-null int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [33]:
data.isnull().any()

RowNumber          False
CustomerId         False
Surname            False
CreditScore        False
Geography          False
Gender             False
Age                False
Tenure             False
Balance            False
NumOfProducts      False
HasCrCard          False
IsActiveMember     False
EstimatedSalary    False
Exited             False
dtype: bool

In [34]:
data_new = data.drop(['RowNumber','CustomerId','Surname'],axis=1)
data_new.head() 
# Dropped the columns which are unique for all users

   CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0          619    France  Female  ...               1        101348.88       1
1          608     Spain  Female  ...               1        112542.58       0
2          502    France  Female  ...               0        113931.57       1
3          699    France  Female  ...               0         93826.63       0
4          850     Spain  Female  ...               1         79084.10       0

[5 rows x 11 columns]

In [0]:
import numpy as np

In [0]:
data_new.Geography = data_new.Geography.astype('category')
data_new.Gender = data_new.Gender.astype('category')

In [38]:
data_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
CreditScore        10000 non-null int64
Geography          10000 non-null category
Gender             10000 non-null category
Age                10000 non-null int64
Tenure             10000 non-null int64
Balance            10000 non-null float64
NumOfProducts      10000 non-null int64
HasCrCard          10000 non-null int64
IsActiveMember     10000 non-null int64
EstimatedSalary    10000 non-null float64
Exited             10000 non-null int64
dtypes: category(2), float64(2), int64(7)
memory usage: 723.0 KB

In [39]:
#deal with categorical data --> encode them

from sklearn.preprocessing import LabelEncoder
labelencoder_x = LabelEncoder()
x.iloc[:, 1] = labelencoder_x.fit_transform(x.iloc[:, 1]) #applying on Geography
x.head()

   CreditScore  Geography  Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0          619          0  Female  ...          1               1        101348.88
1          608          2  Female  ...          0               1        112542.58
2          502          0  Female  ...          1               0        113931.57
3          699          0  Female  ...          0               0         93826.63
4          850          2  Female  ...          1               1         79084.10

[5 rows x 10 columns]

In [40]:
#apply encoder on Gender as well
labelencoder_x_2 = LabelEncoder()
x.iloc[:, 2] = labelencoder_x_2.fit_transform(x.iloc[:, 2]) #applying on Gender
x.head()

   CreditScore  Geography  Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0          619          0       0  ...          1               1        101348.88
1          608          2       0  ...          0               1        112542.58
2          502          0       0  ...          1               0        113931.57
3          699          0       0  ...          0               0         93826.63
4          850          2       0  ...          1               1         79084.10

[5 rows x 10 columns]

In [41]:
#One hot encoding. 

from keras.utils import to_categorical
encoded = pd.DataFrame(to_categorical(x.iloc[:, 1]))
#no need to encode Gender, as there are only two categories

x = pd.concat([encoded, x], axis = 1)
x.head()

Using TensorFlow backend.

     0    1    2  ...  HasCrCard  IsActiveMember  EstimatedSalary
0  1.0  0.0  0.0  ...          1               1        101348.88
1  0.0  0.0  1.0  ...          0               1        112542.58
2  1.0  0.0  0.0  ...          1               0        113931.57
3  1.0  0.0  0.0  ...          0               0         93826.63
4  0.0  0.0  1.0  ...          1               1         79084.10

[5 rows x 13 columns]

In [42]:
#Dropping the existing "geography" category, and one of the onehotcoded columns.

x = x.drop(['Geography', 0], axis = 1)
x.head()

     1    2  CreditScore  ...  HasCrCard  IsActiveMember  EstimatedSalary
0  0.0  0.0          619  ...          1               1        101348.88
1  0.0  1.0          608  ...          0               1        112542.58
2  0.0  0.0          502  ...          1               0        113931.57
3  0.0  0.0          699  ...          0               0         93826.63
4  0.0  1.0          850  ...          1               1         79084.10

[5 rows x 11 columns]

In [0]:
#train and test set split, and feature scaling

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

X_train, X_test, Y_train, Y_test = train_test_split(x, y, test_size = 0.2, random_state = 0)
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [44]:
import keras
from keras.models import Sequential
from keras.layers import Dense #to add layers

#there is no rule on how many nodes each hidden layer should have
classifier = Sequential()
classifier.add(Dense(output_dim = 6, init = 'uniform', activation = 'relu', input_dim = 11))
#init --> initialize weights according to uniform distribution
#input_dim is required for the first hidden layer, as it is the first starting point. --> number of nodes.
#output_dim --> number of nodes of the hidden layer
classifier.add(Dense(output_dim = 6, init = 'uniform', activation = 'relu'))
#input_dim --> remove it as it already knows what to expect.

#the output layer
classifier.add(Dense(output_dim = 1, init = 'uniform', activation = 'sigmoid'))
#output_dim should be 1, as output is binary outcome, and activation should be 'sigmoid'
#If dependent variables have more than two categories, use activation = 'softmax'

#compile the model --> backpropagation -> gradient descent
classifier.compile(optimizer = 'adam', loss = "binary_crossentropy", metrics = ['accuracy'])
#optimizer = algorithm to find the optimal set of weights in ANN
#loss = functions that should be optimized. if more than two categories, use "categorical_crossentropy"
#metrics = criterion used to calculate the performance of the model.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:66: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:541: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:4432: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/optimizers.py:793: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:3657: The name tf.log is deprecated. Please use tf.math.log instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow_core/python/ops/nn_impl.py:183: where (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", input_dim=11, units=6, kernel_initializer="uniform")`
  import sys
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:11: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", units=6, kernel_initializer="uniform")`
  # This is added back by InteractiveShellApp.init_path()
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:15: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="sigmoid", units=1, kernel_initializer="uniform")`
  from ipykernel import kernelapp as app

In [46]:
classifier.fit(X_train, Y_train, batch_size = 10, nb_epoch = 100)
#batch_size = the number of observations after which you want to update the weights
#           batch size and epochs should be tuned through experiments.
#epoch = going through the whole dataset

Epoch 1/100
1160/8000 [===>..........................] - ETA: 0s - loss: 0.4233 - acc: 0.8207

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: UserWarning: The `nb_epoch` argument in `fit` has been renamed `epochs`.
  """Entry point for launching an IPython kernel.

8000/8000 [==============================] - 1s 119us/step - loss: 0.4047 - acc: 0.8325
Epoch 2/100
8000/8000 [==============================] - 1s 118us/step - loss: 0.4041 - acc: 0.8340
Epoch 3/100
8000/8000 [==============================] - 1s 115us/step - loss: 0.4045 - acc: 0.8339
Epoch 4/100
8000/8000 [==============================] - 1s 118us/step - loss: 0.4041 - acc: 0.8357
Epoch 5/100
8000/8000 [==============================] - 1s 117us/step - loss: 0.4041 - acc: 0.8342
Epoch 6/100
8000/8000 [==============================] - 1s 116us/step - loss: 0.4038 - acc: 0.8344
Epoch 7/100
8000/8000 [==============================] - 1s 116us/step - loss: 0.4031 - acc: 0.8340
Epoch 8/100
8000/8000 [==============================] - 1s 116us/step - loss: 0.4031 - acc: 0.8352
Epoch 9/100
8000/8000 [==============================] - 1s 115us/step - loss: 0.4034 - acc: 0.8354
Epoch 10/100
8000/8000 [==============================] - 1s 117us/step - loss: 0.4026 - acc: 0.8365
Epoch 11/100
8000/8000 [==============================] - 1s 116us/step - loss: 0.4027 - acc: 0.8336
Epoch 12/100
8000/8000 [==============================] - 1s 118us/step - loss: 0.4029 - acc: 0.8350
Epoch 13/100
8000/8000 [==============================] - 1s 115us/step - loss: 0.4029 - acc: 0.8350
Epoch 14/100
8000/8000 [==============================] - 1s 115us/step - loss: 0.4025 - acc: 0.8346
Epoch 15/100
8000/8000 [==============================] - 1s 114us/step - loss: 0.4025 - acc: 0.8340
Epoch 16/100
8000/8000 [==============================] - 1s 118us/step - loss: 0.4025 - acc: 0.8342
Epoch 17/100
8000/8000 [==============================] - 1s 117us/step - loss: 0.4025 - acc: 0.8334
Epoch 18/100
8000/8000 [==============================] - 1s 117us/step - loss: 0.4021 - acc: 0.8351
Epoch 19/100
8000/8000 [==============================] - 1s 117us/step - loss: 0.4024 - acc: 0.8349
Epoch 20/100
8000/8000 [==============================] - 1s 116us/step - loss: 0.4022 - acc: 0.8344
Epoch 21/100
8000/8000 [==============================] - 1s 116us/step - loss: 0.4019 - acc: 0.8360
Epoch 22/100
8000/8000 [==============================] - 1s 112us/step - loss: 0.4020 - acc: 0.8351
Epoch 23/100
8000/8000 [==============================] - 1s 116us/step - loss: 0.4017 - acc: 0.8340
Epoch 24/100
8000/8000 [==============================] - 1s 116us/step - loss: 0.4017 - acc: 0.8345
Epoch 25/100
8000/8000 [==============================] - 1s 117us/step - loss: 0.4009 - acc: 0.8356
Epoch 26/100
8000/8000 [==============================] - 1s 116us/step - loss: 0.4019 - acc: 0.8351
Epoch 27/100
8000/8000 [==============================] - 1s 115us/step - loss: 0.4014 - acc: 0.8352
Epoch 28/100
8000/8000 [==============================] - 1s 118us/step - loss: 0.4013 - acc: 0.8339
Epoch 29/100
8000/8000 [==============================] - 1s 115us/step - loss: 0.4015 - acc: 0.8344
Epoch 30/100
8000/8000 [==============================] - 1s 116us/step - loss: 0.4016 - acc: 0.8355
Epoch 31/100
8000/8000 [==============================] - 1s 117us/step - loss: 0.4011 - acc: 0.8354
Epoch 32/100
8000/8000 [==============================] - 1s 113us/step - loss: 0.4014 - acc: 0.8342
Epoch 33/100
8000/8000 [==============================] - 1s 116us/step - loss: 0.4014 - acc: 0.8351
Epoch 34/100
8000/8000 [==============================] - 1s 114us/step - loss: 0.4015 - acc: 0.8364
Epoch 35/100
8000/8000 [==============================] - 1s 114us/step - loss: 0.4016 - acc: 0.8342
Epoch 36/100
8000/8000 [==============================] - 1s 117us/step - loss: 0.4012 - acc: 0.8335
Epoch 37/100
8000/8000 [==============================] - 1s 117us/step - loss: 0.4014 - acc: 0.8342
Epoch 38/100
8000/8000 [==============================] - 1s 114us/step - loss: 0.4013 - acc: 0.8346
Epoch 39/100
8000/8000 [==============================] - 1s 125us/step - loss: 0.4014 - acc: 0.8356
Epoch 40/100
8000/8000 [==============================] - 1s 133us/step - loss: 0.4007 - acc: 0.8352
Epoch 41/100
8000/8000 [==============================] - 1s 129us/step - loss: 0.4013 - acc: 0.8352
Epoch 42/100
8000/8000 [==============================] - 1s 133us/step - loss: 0.4008 - acc: 0.8359
Epoch 43/100
8000/8000 [==============================] - 1s 133us/step - loss: 0.4010 - acc: 0.8354
Epoch 44/100
8000/8000 [==============================] - 1s 137us/step - loss: 0.4011 - acc: 0.8366
Epoch 45/100
8000/8000 [==============================] - 1s 131us/step - loss: 0.4007 - acc: 0.8347
Epoch 46/100
8000/8000 [==============================] - 1s 128us/step - loss: 0.4009 - acc: 0.8337
Epoch 47/100
8000/8000 [==============================] - 1s 132us/step - loss: 0.4012 - acc: 0.8360
Epoch 48/100
8000/8000 [==============================] - 1s 134us/step - loss: 0.4011 - acc: 0.8355
Epoch 49/100
8000/8000 [==============================] - 1s 118us/step - loss: 0.4011 - acc: 0.8352
Epoch 50/100
8000/8000 [==============================] - 1s 113us/step - loss: 0.4006 - acc: 0.8356
Epoch 51/100
8000/8000 [==============================] - 1s 117us/step - loss: 0.4009 - acc: 0.8344
Epoch 52/100
8000/8000 [==============================] - 1s 116us/step - loss: 0.4006 - acc: 0.8352
Epoch 53/100
8000/8000 [==============================] - 1s 111us/step - loss: 0.4012 - acc: 0.8346
Epoch 54/100
8000/8000 [==============================] - 1s 112us/step - loss: 0.4004 - acc: 0.8347
Epoch 55/100
8000/8000 [==============================] - 1s 118us/step - loss: 0.4010 - acc: 0.8352
Epoch 56/100
8000/8000 [==============================] - 1s 117us/step - loss: 0.4012 - acc: 0.8340
Epoch 57/100
8000/8000 [==============================] - 1s 117us/step - loss: 0.4009 - acc: 0.8347
Epoch 58/100
8000/8000 [==============================] - 1s 113us/step - loss: 0.4010 - acc: 0.8364
Epoch 59/100
8000/8000 [==============================] - 1s 116us/step - loss: 0.4007 - acc: 0.8357
Epoch 60/100
8000/8000 [==============================] - 1s 116us/step - loss: 0.4009 - acc: 0.8357
Epoch 61/100
8000/8000 [==============================] - 1s 113us/step - loss: 0.4005 - acc: 0.8340
Epoch 62/100
8000/8000 [==============================] - 1s 116us/step - loss: 0.4001 - acc: 0.8349
Epoch 63/100
8000/8000 [==============================] - 1s 115us/step - loss: 0.4003 - acc: 0.8355
Epoch 64/100
8000/8000 [==============================] - 1s 116us/step - loss: 0.4005 - acc: 0.8360
Epoch 65/100
8000/8000 [==============================] - 1s 113us/step - loss: 0.4011 - acc: 0.8335
Epoch 66/100
8000/8000 [==============================] - 1s 112us/step - loss: 0.4006 - acc: 0.8341
Epoch 67/100
8000/8000 [==============================] - 1s 118us/step - loss: 0.4005 - acc: 0.8345
Epoch 68/100
8000/8000 [==============================] - 1s 113us/step - loss: 0.4004 - acc: 0.8337
Epoch 69/100
8000/8000 [==============================] - 1s 111us/step - loss: 0.4006 - acc: 0.8352
Epoch 70/100
8000/8000 [==============================] - 1s 117us/step - loss: 0.4008 - acc: 0.8352
Epoch 71/100
8000/8000 [==============================] - 1s 126us/step - loss: 0.4011 - acc: 0.8350
Epoch 72/100
8000/8000 [==============================] - 1s 118us/step - loss: 0.4006 - acc: 0.8352
Epoch 73/100
8000/8000 [==============================] - 1s 116us/step - loss: 0.4005 - acc: 0.8349
Epoch 74/100
8000/8000 [==============================] - 1s 113us/step - loss: 0.4004 - acc: 0.8365
Epoch 75/100
8000/8000 [==============================] - 1s 117us/step - loss: 0.4006 - acc: 0.8349
Epoch 76/100
8000/8000 [==============================] - 1s 118us/step - loss: 0.4003 - acc: 0.8352
Epoch 77/100
8000/8000 [==============================] - 1s 113us/step - loss: 0.4008 - acc: 0.8359
Epoch 78/100
8000/8000 [==============================] - 1s 112us/step - loss: 0.4011 - acc: 0.8340
Epoch 79/100
8000/8000 [==============================] - 1s 117us/step - loss: 0.4006 - acc: 0.8355
Epoch 80/100
8000/8000 [==============================] - 1s 118us/step - loss: 0.4007 - acc: 0.8349
Epoch 81/100
8000/8000 [==============================] - 1s 117us/step - loss: 0.4005 - acc: 0.8332
Epoch 82/100
8000/8000 [==============================] - 1s 119us/step - loss: 0.4004 - acc: 0.8352
Epoch 83/100
8000/8000 [==============================] - 1s 119us/step - loss: 0.4009 - acc: 0.8361
Epoch 84/100
8000/8000 [==============================] - 1s 114us/step - loss: 0.3996 - acc: 0.8354
Epoch 85/100
8000/8000 [==============================] - 1s 119us/step - loss: 0.4006 - acc: 0.8351
Epoch 86/100
8000/8000 [==============================] - 1s 114us/step - loss: 0.4005 - acc: 0.8340
Epoch 87/100
8000/8000 [==============================] - 1s 114us/step - loss: 0.4003 - acc: 0.8356
Epoch 88/100
8000/8000 [==============================] - 1s 119us/step - loss: 0.4009 - acc: 0.8345
Epoch 89/100
8000/8000 [==============================] - 1s 117us/step - loss: 0.4006 - acc: 0.8359
Epoch 90/100
8000/8000 [==============================] - 1s 117us/step - loss: 0.4003 - acc: 0.8337
Epoch 91/100
8000/8000 [==============================] - 1s 118us/step - loss: 0.4007 - acc: 0.8357
Epoch 92/100
8000/8000 [==============================] - 1s 117us/step - loss: 0.4002 - acc: 0.8355
Epoch 93/100
8000/8000 [==============================] - 1s 117us/step - loss: 0.4007 - acc: 0.8357
Epoch 94/100
8000/8000 [==============================] - 1s 122us/step - loss: 0.4007 - acc: 0.8359
Epoch 95/100
8000/8000 [==============================] - 1s 112us/step - loss: 0.3997 - acc: 0.8347
Epoch 96/100
8000/8000 [==============================] - 1s 115us/step - loss: 0.4006 - acc: 0.8359
Epoch 97/100
8000/8000 [==============================] - 1s 114us/step - loss: 0.4001 - acc: 0.8340
Epoch 98/100
8000/8000 [==============================] - 1s 114us/step - loss: 0.4003 - acc: 0.8360
Epoch 99/100
8000/8000 [==============================] - 1s 119us/step - loss: 0.4001 - acc: 0.8355
Epoch 100/100
8000/8000 [==============================] - 1s 116us/step - loss: 0.4007 - acc: 0.8350

In [47]:
#predicting the results

y_pred = classifier.predict(X_test)
y_pred = (y_pred > 0.5) #to classify each probability into True or False

from sklearn.metrics import confusion_matrix
cm = confusion_matrix(Y_test, y_pred)
print (cm, '\n\n', y_pred[:5, :])

[[1535   60]
 [ 256  149]]

 [[False]
 [False]
 [False]
 [False]
 [False]]

In [48]:
#accuracy
print ((1535 + 149)/2000)

0.842

In [0]:
#The fact that accuracy on train and test set are similar shows that the model did not overfit on the train set. Hyperparameters can be tuned to obtain better results.